h1 {
    color :antiquewhite;
}

.post {
    background-color:#b8f2e6;
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.user {
    font-family: cursive;
    color: #e8998d;
    margin: 0;
    font-weight: bold;
}
body {
    background-color: #a1683a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0;
}

.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px 0;

}
